:root {
  --green: #1a4e0e;
  --dark-green: #061f03;
  --light-green: #89e66d;
  --highlight-green: #f8fff8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='hsla(339.6,82.2%,51.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}

.site-warpper {
  display: grid;
  grid-template-rows: 250px 1fr;
}

header {
  border: 1px solid red;
}
.library-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  
}
.add-book-btn {
  justify-self: end;
}

main {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  
}  
.book-card {
  background-color: var(--highlight-green);
  border: 1px solid var(--dark-green);
  border-radius: 10px;

  box-sizing: content-box;
  margin: 1rem;
  padding: 1rem;

  display: grid;
  justify-items: center;
}
.add-book-form-modal {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  left: 0;
}
.hidden {
  display: none;
}
