:root {
  --background: #83A8A7;
  --background-darker: #69c9c8;
  --highlight: #FAFFFF;
  --mid: #D7F5F4;
  --complementer: #A88572;
  --complementer-mid: #F5E2D7;
  --text: #eefcfc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(170,50%,80%,1)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='hsla(258.5,59.4%,59.4%,1)' fill='none'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='hsla(339.6,82.2%,51.6%,1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */
  background-color: var(--background);
}

.site-warpper {
  display: grid;
  grid-template-rows: 100px 1fr;
}

header {
  height: 100px;
  color: var(--text);
}
.library-header {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10px;
}
.add-book-btn {
  justify-self: end;

  padding: .6em;
  border: none;
  border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;

  background-color: var(--complementer);
  color: var(--highlight);
  transition: all ease .2s;
}
.add-book-btn:hover {
  background-color: var(--complementer-mid);
  color: var(--text);
  text-shadow: .5px .5px grey;

  transition: all ease .2s;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
  gap: 30px;
  
}  
.book-card {
  background-color: var(--highlight-green);
  border: 1px solid var(--dark-green);
  border-radius: 10px;

  min-width: 300px;
  height: 100%;

  background-color: var(--complementer);
  color: var(--text);

  box-sizing: content-box;
  margin: 1rem;
  padding: 1rem;

  display: grid;
  align-content: center;
  justify-content: center;
}
.book-control-btns {
  align-self: end;

}
.book-control-btns > button {
  background-color: var(--complementer-mid);
  color: var(--background);

  font-size: .9rem;
  font-weight: bold;

  padding: .5em;
  border: none;
  border-radius: 5px;
}

.add-book-form-modal {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  background: rgba(0,0,0,.7);
  position: absolute;
  top: 0;
  left: 0;

}
.hidden {
  display: none;
}

.add-book-form {
  width: 70%;
  margin: 0 auto;
  background: var(--complementer);
  color: var(--text);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.add-book-form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .3rem 0;
  height: 40px;
}
label, input, button {
  display: inline-block;
}
label {
  width: 30%;
  text-align: right;
}
label+input {
  width: 30%;
  margin: 0 30% 0 4%;
}
input+input {
  float: right;
}
button {
  justify-self: center;
  box-sizing: border-box;
  padding: .3em .3em;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  background: var(--background);
  border: none;

  transition: all .2s ease-in-out;
}
button:hover {
  background-color: var(--background-darker);
  box-sizing: content-box;

  transition: all .2s ease-in-out;
}

.the-book-is-read {
  background-color: rgba(0,0,0,.7);
  color: #7e7d7d;

  position: relative;
}

.the-book-is-read::after {
  content: 'READ';
  position: absolute;
  top: 40px;
  right: 10px;
  transform: rotate(45deg);

  font-size: 2rem;
}
